@font-face {
  font-display: swap;
  font-family: 'Recoleta';
  font-weight: 400;
  src: url( '../fonts/recoleta/400.woff2' ) format( 'woff2' ),
    url( '../fonts/recoleta/400.woff' ) format( 'woff' );
}
@font-face {
  font-display: swap;
  font-family: 'Recoleta';
  font-weight: 500;
  src: url( '../fonts/recoleta/500.woff2' ) format( 'woff2' ),
    url( '../fonts/recoleta/500.woff' ) format( 'woff' );
}
@font-face {
  font-display: swap;
  font-family: 'Recoleta';
  font-weight: 600;
  src: url( '../fonts/recoleta/600.woff2' ) format( 'woff2' ),
    url( '../fonts/recoleta/600.woff' ) format( 'woff' );
}
body {
  font-family: $font2;
  font-size: 15px;
  line-height: 1.5;
  article .copy p {
    font-family: $font2;
  }
}
body.home {
  position: relative;
  background-color: $darkgreen;
  color: $text_color;
  #masthead {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }
  #content {
    margin-top: 0!important;
  }
  .mobile-wrapper {
    display: none;
  }


  #banner {
    .logo-w-date {
      top: 30px;
      text-align: center;
      @media screen and (min-width: $tabwidth) {
        top: 60px;
      }
      @media screen and (min-width: $deskwidth) {
        top: 120px;
      }
      img {
        width: 550px;
        height: auto;
      }
    }
    .eventDate {
      width: 100%;
      position: relative;
      text-align: center;
      margin-top: 30px;
      z-index: 15;
      span {
        display: inline-block;
        background: $darkgreen;
        color: $text_color;
        text-transform: uppercase;
        font-family: $font1;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        padding: 6px 15px 5px;
        max-width: 550px;
        width: 100%;
        border-radius: 3px;
      }
    }
  }
}

.bottom-graphic {
  display: none!important;
}

#primary-menu li, 
#primary-menu a {
  font-family: $font1;
  font-weight: 600;
  color: #FF7F30;
  letter-spacing: 1px;
}
#primary-menu > li {
  display: inline-block;
  margin: 0 0 0 2vw;
  transition: all ease .3s;
  padding: 0 0;
  @media screen and (min-width: $tabwidth) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px ) {
    font-size: 12px;
  }
  @media screen and (min-width: 1400px ) {
    font-size: 14px;
  }
  &:before {
    content:"";
    display: block;
    width: 40px;
    height: 10px;
    background-image: url('images/half-circle.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 80%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: all ease .3s;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
  }
  &:after {
    display: none;
  }
  &:hover {
    opacity: 0.65;
    &:before {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
    }
  }
}
.main-navigation {
  background: $darkgreen;
  .wrapper {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
  }
}
.main-navigation #primary-menu {
  display: inline-block;
  float: right;
  li {
    float: left;
    position: relative;
  }
  ul.sub-menu {
    position: absolute;
    margin: 0 0;
    padding: 0 0;
    width: 100vw;
    background-color: $darkgreen;
    a {
      color: $color-tan;
    }
  }
}
#subNavs {
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
  top: 0;
  z-index: 1005;
  #subnavdata {
    border-top: 1px solid rgba(255,255,255,.15);
  }
  ul.sub-menu {
    display: none;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    position: relative;
    top: 5px;
    li {
      display: inline-block;
      float: left;
      text-align: left;
      padding: 0 14px;
    }
    &.active {
      display: inline-block;
    }
    a {
      display: inline-block;
      text-decoration: none;
      font-family: $font1;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      color: $color-tan;
      padding: 11px 0 13px;
      position: relative;
      &:after {
        content:"";
        width: 0;
        height: 2px;
        background: $teal;
        position:absolute;
        bottom: 11px;
        left: 0;
        transition: all ease 0.2s;
      }
      &:hover {
        &:after {
          width: 50%;
        }
      }
    }
  }
  @media only screen and (max-width: $tabwidth) {
    display: none;
  }
}


.boxed-content {
  width: 100%;
  float: left;
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
  padding: 0 20px;
  .wrapper {
    max-width: 82%;
    width: 100%;
    @media screen and (max-width: $deskwidth) {
      max-width: 100%;
    }
  }
  .inside {
    border: 1px solid $text_color;
    padding: 40px 10vw;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.mobilemenu {
  ul {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    a {
      font-family: $font1;
      font-size: 20px;
      font-weight: 600;
      color: $yellowish;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
    }
  } 
  #primary-menu-mobile li {
    transition: all 0.3s ease;
    transform: translateX(40px);
  }
  #primary-menu-mobile > li {
    margin: 30px 0;
  }
  ul.sub-menu {
    transition: all 0.3s ease;
    padding-left: 20px;
    height: 0;
    min-height: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    z-index: 15;
    a {
      color: $teal;
      font-size: 18px;
      padding: 5px;
      &:hover {
        opacity: 0.5;
      }
    }
    li.current-menu-item a,
    li.current_page_item a {
      color: $teal!important;
      opacity: 0.4;
      &:hover {
        color: $teal!important;
        opacity: 1;
      }
    }
  }
  #primary-menu-mobile li.current-menu-parent > a,
  #primary-menu-mobile li.current_page_item > a {
    color: $orange;
  }
  #primary-menu-mobile li.current-menu-parent,
  #primary-menu-mobile > li:hover {
    ul.sub-menu {
      height: auto;
      min-height: 50px;
      opacity: 1;
      overflow: visible;
    }
  }
  &.show {
    #primary-menu-mobile li {
      transform: translateX(0);
    }
  }
}

body.home {
  #site-navigation,
  #site-navigation .desktop,
  #site-navigation .menu-main-menu-container {
    width: 100%;
    float: left;
  }
  #site-navigation #primary-menu {
    display: inline-block;
    text-align: center;
  }
  #primary-menu > li {
    margin: 0 2vw;
    @media screen and (min-width: $tabwidth) {
      margin: 0 1vw;
    }
    @media screen and (min-width: $deskwidth) {
      margin: 0 2vw;
    }
  }
  #site-navigation.main-navigation {
    background: transparent;
    #primary-menu {
      float: none;
    }
  }
  #subNavs {
    background-color: rgba(255,255,255,.35);
    top: -28px;
    .wrapper {
      background-color: transparent;
    }
    #subnavdata {
      border-top: none;
    }
    ul.sub-menu {
      a {
        color: $darkgreen;
        &:after {
          background: $darkgreen;
        }
      }
    }
  }
}

.home-tiles-new {
  margin-bottom: 30px;
  .wrapper {
    padding: 20px 10px;
    @media screen and ( min-width:$tabwidth ) {
      padding: 30px 0 0 0;
    }
  }
  .flexwrap {
    @include flexgroup();
  }
  .home-tile {
    width: 100%;
    padding: 0 0;
    position: relative;
    overflow: hidden;
    margin: 0 0 30px 0;
    @media screen and ( min-width:$tabwidth ) {
      margin: 0;
    }
    .inside, .tile-link {
      display: block;
      width: 100%;
      height: 100%;
      float: left;
    } 
    .inside {
      position: relative;
    }
    @media screen and ( min-width:$tabwidth ) {
      width: 33.33%;
    }
    
    .tile-link {
      position: relative;
      text-decoration: none;
      transition: all ease 0.3s;
      * {
        cursor: pointer;
      }
      &:before {
        content:"";
        display: block;
        width: 103%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: transparent;
        z-index: 20;
        transition: transform ease 0.4s;
        transform: scaleY(0);
      }
    }
    .tile-link:hover {
      &:before {
        top: 0;
        transform: scaleY(1);
      }
      .title.mirror {
        top: 55%;
        transform: translateY(-55%);
        background: transparent;
        &:after {
          display: none;
        }
      }
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        background: transparent;
        img.iconImg {
          top: 50%;
          transition-delay: 0.2s;
          transform: translateX(-50%) translateY(-95%);
        }
      }
    }
    span.image {
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      @media screen and (max-width:$tabwidth) {
        position: relative;
      }
    }
    span.image-mirror {
      display: block;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      @media screen and (max-width:$tabwidth) {
        display: none;
      }
    }
    
    .title {
      display: block;
      width: 100%;
      float: left;
      text-align: center;
      font-family: $font1;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      text-transform: uppercase;
      padding: 35px 15px;
      position: relative;
      z-index: 55;
      transition: all ease .3s;
      &.mirror {
        position: absolute;
        top: 0;
        left: 0;
        &:after {
          content:"";
          display: block;
          width: 50px;
          height: 50px;
          border-radius: 100px;
          position: absolute;
          left: 50%;
          bottom: -12px;
          transform: translateX(-50%);
        }
      }
    }
    .icon {
      display: block;
      width: 100%;
      float: left;
      position: relative;
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 50;
      img.iconImg {
        width: 50%;
        height: auto;
        position: absolute;
        top: 45%;
        left: 50%;
        transition: transform ease 0.5s;
        transform: translateX(-50%) translateY(-45%);
      }
    }

    &.odd {
      .tile-link {
        color: $text_color;
      }
    }
    &.even {
      .tile-link {
        color: $darkgreen;
      }
      .title.mirror,
      .title.mirror:after,
      span.icon {
        background: $text_color;
      }
      span.image {
        position: relative;
      }
      span.image-mirror {
        display: none;
      }
      .tile-link:hover {
        &:before {
          background: $text_color;
        }
        span.image-mirror {
          @media screen and (max-width:$tabwidth) {
            display: block;
          }
        }
      }
    }
  }
  .home-tile:first-child {
    .title.mirror,
    .title.mirror:after {
      background: $orange;
    }
    span.icon {
      background: $red_orange;
    }
    .tile-link:hover {
      &:before {
        background: $red_orange;
      }
      span.image-mirror {
        @media screen and (max-width:$tabwidth) {
          display: block;
        }
      }
    }
  }

  .home-tile:last-child {
    .title.mirror,
    .title.mirror:after {
      background: $red_orange;
    }
    span.icon {
      background: $orange;
    }
    .tile-link:hover {
      &:before {
        background: $orange;
      }
      span.image-mirror {
        @media screen and (max-width:$tabwidth) {
          display: block;
        }
      }
    }
  }

  img.helper {
    width: 100%;
    height: auto;
    float: left;
  }
  .image {
    display: block;
    width: 100%;
    float: left;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.drops-wrap {
  width: 100%;
  float: left;
  position: relative;
  .drops {
    padding: 0 0;
  }
}

body.theme2021 {
  font-family: $font1;
  .site-content  {
    padding-bottom: 0;
  }
  #masthead.site-header {
    .subnav {
      @media only screen and (min-width: $deskwidth) {
        border-top: 1px solid rgba(255,255,255,.1);
        padding: 15px 0 15px
      }
      a {
        font-family: $font1;
        font-weight: 500;
        color: $teal;
        &:after {
          bottom: -1px;
        }
      }
    }
    ul.submenu {
      background-color: $darkgreen;
      opacity: 0;
      position: absolute;
      z-index: -9999;
      // transition: all ease .3s;
      li:after {display:none;}
      a {
        font-family: $font1;
        font-weight: 500;
        color: $teal;
        &:after {
          bottom: -1px;
        }
      }
      &.active {
        opacity: 1;
        position: relative;
        z-index: 99;
        display: block;
        @media only screen and (min-width: $deskwidth) {
          border-top: 1px solid rgba(255,255,255,.1);
          padding: 15px 20px 15px
        }
      }
    }
  }
  &.subpage #masthead.site-header {
    position: relative;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    .mobile-wrapper .logo {
      top: 18px;
      transform: none;
    }
    &.fixed {
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
      position: fixed;
    }
    .mobile-wrapper .logo {
      @media only screen and (max-width: $tabwidth - 1px) {
        top: 0;
        height: 100%;
        @include flexgroup();
        @include flexbox-align-content(center);
        a {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  &.no-sub-nav {
    #content {
      margin-top: 0!important;
    }
  }
  &.home {
    ul.submenu {
      &.active {
        opacity: 1;
        position: relative;
        z-index: 99;
        @media only screen and (min-width: $deskwidth) {
          border-top: 1px solid rgba(255,255,255,.1);
          padding: 15px 20px 15px
        }
      }
    }
  }
  &.logged-in.admin-bar {
    &.subpage #masthead.site-header {
      top: 0;
      &.fixed {
        top: 45px;
        @media only screen and (min-width: $tabwidth) {
          top: 32px;
        }
      }
    }
    .site {
      @media only screen and (max-width: $tabwidth - 1px) {
        padding-top: 0!important;
      }
    }
  }

  .art-contents {
    &.active {
      text-align: center;
    }
    .a-title {
      font-family: $font2;
      font-weight: 500;
      color: $darkgreen;
    }
    a {
      color: $darkgreen;
      &:hover {
        color: $orange;
      }
    }
    h3 {
      font-family: $font1;
      font-weight: 600;
      letter-spacing: 0;
      color: $orange;
    }
  }
  section.artists .artists-tile header h2.active,
  .art-close {
    color: $darkgreen!important;
  }
  .coming-soon-wrap {
    width: 100%;
    float: left;
    border-top: 3px solid $text_color;
    border-bottom: 3px solid $text_color;
    &.coming-soon .lefty {
      h2 span.tan {
        font-family: $font2;
        font-weight: 400;
        color: $text_color;
      }
      h2 span.orange {
        font-family: $font2;
        font-weight: 600;
      }
      h2 span.dark-orange {
        font-family: $font1;
        font-weight: 600;
      }
    }
    &.coming-soon .righty {
      background-color: $orange;
      //background-color: $darkgreen;
    }
  }
  
  article .copy h1 {
    letter-spacing: 1px;
    color: $orange;
  }
  .entry-content a {
    color: $darkgreen;
    &:hover {
      &:after {
        background-color: $darkgreen;
      }
    }
  }
}

footer.site-footer {
  background-color: $darkgreen;
  color: $text_color;
  .footer-content {
    position: relative;
    &:before {
      content:"";
      display: block;
      width: 100%;
      height: 1px;
      opacity: 0.35;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='2' stroke-dasharray='6%2c 12' stroke-dashoffset='26' stroke-linecap='square'/%3e%3c/svg%3e");
    }
  }
  .footer-info {
    .wrap {
      @include flexgroup();
      @include flexbox-align-items(center);
    }
    .brand-image {
      width: 35%;
      text-align: left;
      a {
        display: block;
      }
      img {
        max-width: 200px;
        height: auto;
        opacity: 0.4;
        position: relative;
        top: 3px;
      }
    }
    .footLinks {
      width: 65%;
    }

    @media screen and (max-width: $tabwidth) {
      .brand-image, .footLinks {
        width: 100%;
      }
    }
  }

  .footLinks {
    #footer-menu {
      margin: 0 0;
      padding: 0 0;
      list-style: none;
      text-align: left;
      li {
        float: left;
      }
      ul {
        display: none;
      }
      a {
        display: inline-block;
        text-decoration: none;
        color: $text_color;
        font-size: 13px;
        line-height: 1.2;
        margin-right: 30px;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

/* Subpage */
body.subpage {
  background-color: $body_color;
  background-image:url('images/beehive_pattern.png');
  background-position: 0 0;
  background-repeat: repeat-x;
  background-attachment:fixed;
  background-size:20%;
  #masthead.site-header {
    background: $darkgreen;
    .wrapper {
      position: relative;
      // @include flexgroup();
    }
    .main-navigation {
      width: 100%;
      padding: 20px 0;
      position: relative;
    }
    .mobile-wrapper {
      display: inline-block;
      width: auto;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1010;
      background-color: transparent;
      .logo {
        margin: 0 0;
        padding: 0 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    #subNavs {
      background: $color-dark-orange;
    }
  }
  #primary-menu > li {
    margin-left: 2vw;
  }
  // #content.no-subnav {
  //   margin-top: 58px;
  // }
  .special-title {
    background: $orange;
    padding: 10px 0;
    position: relative;
    &:after {
      content:"";
      display: block;
      width: 200px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-image: url('images/half-circle-pattern.png');
      background-repeat: repeat;
      background-position: 7px 0;
      background-size: 35px;
    }
    h1 {
      font-size: 36px;
      line-height: 1.1;
      letter-spacing: 1px;
      margin: 0 0;
      position: relative;
      z-index: 10;
      @media screen and (min-width: $tabwidth) {
        font-size: 45px;
      }
    }
    span {
      font-family: $font5;
      font-weight: 900;
    }
    .waves {
      display: none!important;
    }
  }
  #filters {
    h2 {
      font-family: $font1;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 1px;
      color: $darkgreen;
    }
    .select-options li {
      font-family: $font1;
      font-weight: 600;
      font-size: 15px;
    }
    .types {
      .select {
        height: 32px;
      }
    }
    .select-styled {
      font-family: $font1;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 1px;
      color: $darkgreen;
      background-image:none;
      background-color: transparent;
      border: 1px solid $darkgreen;
      padding: 6px 15px 4px;
      position: relative;
      &:before, &:after {
        content:"";
        display: block;
        width: 12px;
        height: 2px;
        background: $darkgreen;
        position: absolute;
        top: 15px;
        right: 15px;
        border: none;
      }
      &:before {
        transform: translateX(-4px) rotate(42deg);
      }
      &:after {
        transform: translateX(4px) rotate(-42deg);
      }
    }
  }

  .schedule {
    .col h2 {
      font-family: $font1;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 1px;
      color: $darkgreen;
      margin: 0 0 10px 0;
    }
    .col-wrap {
      background-color: $darkgreen;
      padding: 0 0;
      .title {
        font-size: 15px;
      }
      .time {
        font-size: 13px;
        color: $orange;
      }
      .contents {
        ul.list {
          margin: 0 0;
          padding: 0 0;
          list-style: none;
          width: 100%;
          float: left;
          a {
            display: block;
            text-decoration: none;
            padding: 15px 20px;
          }
        }
        ul.list > li {
          
          margin: 0 0;
          width: 100%;
          float: left;
          transition : all ease .2s;
          &:hover {
            opacity: .6;
          }
        }
        ul.list > li:nth-child(1) {
          background-color: $darkgreen;
        }
        ul.list > li:nth-child(even) {
          background: rgba(255,255,255,.1);
          border-bottom: 1px solid rgba(255,255,255,.15);
        }
      }
    }
  }
  
  footer.site-footer {
    padding-top: 0;
    .footer-content:before {
      display: none;
    }
  }
}
header.special-title {
  z-index: 100;
  .wrapper {
    position: relative;
  }
}
header.special-title h1 span.dark-orange,
header.special-title h2 span.dark-orange,
.left h1 span.dark-orange,
.left h2 span.dark-orange,
.lefty h1 span.dark-orange,
.lefty h2 span.dark-orange {
  font-family: $font5;
  color: $yellowish;
}
.registrationBtn {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -102px;
  @media screen and (min-width: $tabwidth) {
    bottom: -112px;
  }

  a.register-btn {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-family: $font2;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 1px;
    background: $red_orange;
    height: 52px;
    width: 120px;
    text-align: center;
    // padding: 0 35px;
    position: relative;
    box-shadow: -12px 8px 17px rgba(0,0,0,.3);
    transition: none!important;
    span {
      font-family: $font2;
    }
    &:before,&:after {
      content:"";
      display: block;
      width: 0; 
      height: 0; 
      position: absolute;
      bottom: -25px;
      // width: 50px;
      // height: 50%;
      // background-color: $red_orange;
    }
    &:before {
      left: 0;
      border-top: 25px solid $red_orange;
      border-right: 65px solid transparent; 
      // transform: skew(-40deg);
    }
    &:after {
      // height: 51%;
      right: 0;
      // transform: skew(40deg);
      border-top: 25px solid $red_orange;
      border-left: 65px solid transparent; 
    }
    &:hover {
      background: $darkgreen;
      &:before,&:after {
        border-top-color: $darkgreen;
      }
    }
  }
}

.faqs-page {
  .faqrow {
    .question {
      font-family: $font1;
      font-weight: 600;
      color: $darkgreen;
    }
    .plus-minus-toggle {
      transform: translateY(-4px) scale(0.6);
    }
    .plus-minus-toggle:before, .plus-minus-toggle:after {
      background: $darkgreen;
    }
    &.active {
      .plus-minus-toggle:before, .plus-minus-toggle:after {
        background: $orange;
      }
    }
    .answer {
      padding: 20px;
      margin:0 0 0 35px;
      background: #FFF;
      color: $darkgreen;
      font-family: $font2;
      line-height: 1.4;
      a {
        color: $orange;
        &:after {
          background-color: $orange;
        }
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

body.page-template-page-contact #content.no-subnav {
  margin-top: 0!important;
}

.flexcol-content {
  @include flexgroup();
  margin:0 0;
  padding: 10px 0 80px;
  @media only screen and (min-width: $tabwidth) {
    margin:0 -20px;
  }
  h2,h3,h4,h5,h6 {
    font-family: $font1;
    font-weight: 600;
    color: $yellowish;
  }
  h4 {
    font-size: 20px;
  }
  .flexcol {
    width: 100%;
    padding: 20px 0;
    @include tab {
      padding: 0 0;
    }
    .inside {
      padding: 20px;
      height: 100%;
      @media only screen and (min-width: $tabwidth) {
        padding: 5vw;
      }
      .wrap {
        width: 100%;
      }
    }
    a {
      color: $link2;
      text-decoration: underline;
      &:after {
        display: none;
      }
      &:hover {
        color: #FFF;
      }
    }
    &.fl {
      .inside {
        color: $yellowish;
        background: $red_orange;
        @include flexgroup();
        @include flexbox-align-content(center);
        @include flexbox-justify(center);
      }
    }
    &.fr {
      .inside {
        color: #FFF;
        background: $orange;
        @include flexgroup();
        @include flexbox-align-content(center);
        @include flexbox-justify(center);
      }
      p {
        margin: 0 0;
      }
    }
  }
  &.half {
    .flexcol {
      @media only screen and (min-width: $tabwidth) {
        width: 50%;
      }
    }
  }
}

.repeatable-blocks {
  a {
    color: $darkgreen;
    &:after {
      background-color: $darkgreen;
    }
  }
  .entry-content {
    margin-bottom: 50px;
    h1,h2,h3,h4,h5,h6 {
      font-family: $font5;
      font-weight: 600;
      letter-spacing: 0;
    }
  } 
}

.btn2 {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: all ease .3s;
}
.imagecol.xtra {
  img {
    width: 100%;
  }
}
.repeatable-content-blocks {
  margin-bottom: 80px;
  width: 100%;
  float: left;
  .content-block {
    margin: 20px 0;
    @include flexgroup();
    .textcol, .imagecol {
      width: 100%;
      position: relative;
    }
    .textcol {
      background: $red_orange;
      color: $yellowish;
      padding: 60px 30px;
      a {
        color: $link2;
        &:hover {
          color: #FFF;
        }
      }
    }
    .imagecol {
      .imagediv {
        width: 100%;
        height: 300px;
        float: left;
        @include backgroundImage(center);
        @media only screen and (min-width: $tabwidth) {
          height: 100%;
        }
      }
      img {
        width: 100%;
        height: auto;
        float: left;
        display: none;
      }
    }
    .rb_buttons {
      margin-top: 25px;
      margin-left: -10px;
    }
    .btn2 {
      padding: 6px 12px;
      background: $orange;
      color: #FFF!important;
      margin: 10px 10px;
      &:hover {
        background: #ffac30;
      }
      &.btn-green {
        background: $darkgreen;
        &:hover {
          background: #058d6d;
        }
      }
    }
    .rb_title {
      font-family: $font1;
      font-size: 30px;
      font-weight: 600;
      line-height: 1.2;
      margin: 0 0 20px;
      color: $yellowish;
      letter-spacing: none;
    }
    &.half {
      .textcol {
        @include tab {
          width: 40%;
          @include flexgroup();
          @include flexbox-align-content(center);
        }
      }
      .imagecol {
        @include tab {
          width: 60%;
        }
      }
    }
    &:nth-child(even) {
      @include tab {
        @include flexbox-direction(row-reverse);
      }
      .textcol {
        background: $orange;
      }
      // .btn2 {
      //   background: $red_orange;
      //   &:hover {
      //     background: #ffac30;
      //   }
      // }
    }
    // .rb_content .elt:last-child {
    //   margin-bottom: 0;
    // }
    .rb_content *:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: $deskwidth - 1px) {
  body.subpage {
    #masthead.site-header {
      height: 58px;
      .burger {
        height: 100%;
      }
      .wrapper {
        height: 100%;
      }
      .main-navigation {
        display: none;
      }
      .mobile-wrapper {
        left: 105px!important;
      }
      .eyeglass {
        top: 6px;
      }
    }
    #main .special-title:after {
      width: 30vw;
    }
    #main .special-title h1 {
      font-size: 38px;
    }
    &.logged-in.admin-bar {
      #content.no-subnav {
        margin-top: 12px;
      }
      #masthead.site-header {
        top: 46px;
      }
      .site {
        padding-top: 46px;
      }
    }
  }


  footer.site-footer {
    text-align: center;
    .brand-image {
      a {
        text-align: center;
      }
      img {
        margin: 0 auto;
      }
    }
    .footLinks  {
      #footer-menu {
        text-align: center;
      }
      li {
        float: none!important;
        display: inline-block;
      }
    }
    .footLinks #footer-menu a {
      margin: 10px 10px;
    }
  }
  html #wpadminbar {
    position: fixed;
    top: 0;
  }
}

nav.mobilemenu {
  background-color: $darkgreen;
  ul.main li,
  ul.main li a {
    font-family: $font1;
    font-size: 18px;
    font-weight: 600;
    color: $yellowish;
  }
}

.competitions-page,
.about-pages {
  .entries-wrapper {
    @include div_wrapper();
  }
  .entries {
    @include flexgroup();
    margin-top: 50px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 80px;
  }
  .entry {
    width: 100%;
    padding: 10px;
    @include mid {
      width: 33.33%;
    }
    div.pad,
    div.image,
    div.info {
      width: 100%;
    }
    div.pad {
      height: 100%;
      background: $darkgreen;
    }
    div.image {
      float: left;
      a {
        display: block;
        width: 100%;
        float: left;
      }
      img {
        width: 100%;
        height: auto;
        float: left;
      }
    }
    div.info {
      float: left;
      background: $darkgreen;
      padding: 15px;
      .title,
      .title a {
        font-family: $font2;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2;
        text-transform: none;
        letter-spacing: 0;
        color: $yellowish;
      }
      .title a {
        display: block;
        text-decoration: none;
        olor: $yellowish;
        &:hover {
          opacity: 0.75;
        }
      }
      .date {
        display: block;
        color: $orange;
        font-size: 12px;
        span {
          display: inline-block;
          margin: 0 5px;
        }
      }
    }
  }
  .no-result {
    min-height: 20em;
    h2 {
      font-family: $font1;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: 0;
      color: $darkgreen;
      margin: 40px 0 0;
    }
  }
}

.filter-action {
  .filter-label {
    font-family: $font1;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    color: $darkgreen;
    text-transform: uppercase;
    position: relative;
    top: -11px;
  }
  .filter-field {
    display: inline-block;
    max-width: 340px;
    width: 100%;
    margin-left: 6px;
    position: relative;
    overflow: hidden;
    select {
      width: 100%;
      background-color: transparent;
      border: 1px solid $darkgreen;
      height: 30px;
      -webkit-appearance: none;
      box-shadow: none;
      outline: none;
      padding: 0 8px;
    }

    .select2-container--default .select2-selection--single {
      background-color: transparent;
      border: 1px solid $darkgreen;
      border-radius: 0;
      color: $darkgreen;
      height: 30px;
    }
    .select2-container--default .select2-selection--single .select2-selection__clear {
      -webkit-appearance:none;
      border: none;
      box-shadow: none;
      margin: 0 0;
      padding: 0 8px;
      position: absolute;
      top: 0;
      right: 25px;
      height: 29px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      width: 28px;
      height: 29px;
    }
    .select2-selection__rendered {
      font-family: $font1;
      font-size: 14px;
      font-weight: 600;
      line-height: 28px;
      color: $darkgreen;
      text-transform: uppercase;
    }
    .select2-selection__arrow {
      b {
        visibility: hidden;
      }
      &:before, &:after {
        content:"";
        display: block;
        width: 10px;
        height: 2px;
        background: $darkgreen;
        position: absolute;
        top: 13px;
        right: 6px;
      }
      &:before {
        transform: translateX(-6px) rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
.select2-dropdown {
  background-color: #F3E2CB;
  border: 1px solid $darkgreen;
  margin-top: 32px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: $darkgreen;
}
.select2-results__option {
  font-family: $font1;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  color: $darkgreen;
  text-transform: uppercase;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  background-color: #F3E2CB;
  border: 1px solid $darkgreen;
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none;
  font-family: $font1;
  font-size: 14px;
  font-weight: 600;
  color: $darkgreen;
}
.subpage-banner {

}
.entry-title {
  font-family: $font1;
  font-size: 30px;
  font-weight: 600;
  line-height: 28px;
  color: $darkgreen;
  text-transform: uppercase;
  letter-spacing: 0;
}
.title-orange {
  font-family: $font1;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: $orange;
  letter-spacing: 0;
  text-transform: uppercase;
}
#primary.single-competition {
  .other-links-btn {
    width: auto;
    display: inline-block;
    margin: 5px;
    @media screen and (min-width: $tabwidth) {
      margin: 0 10px 0 0;
    }
    a {
      background-color: $color-green;
      color: $color-orange;
      padding: 10px 25px;
      transition: all ease .2s;
      text-decoration: none;
      display: block;
      &:hover {
        background-color: $color-orange;
        color: $color-green;
      }
    }
  }
}
#primary.single-competition {
  padding: 50px 0;
  #main {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
  .entry-title {
    margin: 0 0 50px;
  }
  .event-info {
    width: 100%;
    float: left;
    background: $darkgreen;
    color: $text_color;
    .pad {
      padding: 20px;
    }
    a {
      color: $orange;
    }
    p:last-child {
      margin-bottom: 0;
    }
    .comp-footer {
      width: 100%;
      padding: 10px 0 0 0;
      border-top: 1px solid $color-orange;
      text-align: center;
      @media screen and (min-width: $tabwidth) {
        text-align: left;
      }
    }
  }
  .map-image,
  .map-image img {
    width: 100%;
    height: auto;
    float: left;
  }
  .result-section {
    width: 100%;
    float: left;
    background: #FFF;
    .flexwrap {
      @include flexgroup();
      padding: 20px;
      @include mid {
        padding: 30px;
      }
    }
    .imagecol,
    .textcol {
      width: 100%;
    }
    .imagecol {
      @include mid {
        width: 30%;
      }
      img {
        width: 100%;
      }
    }
    .textcol {
      @include mid {
        width: 70%;
        padding-left: 30px;
      }
    }
  }

  .resultsCol {
    .title-orange {
      margin-bottom: 20px;
    }
    .catname {
      font-family: $font2;
      font-size: 13px;
      font-weight: 600;
      line-height: 1.2;
      color: $darkgreen;
      margin:0 0 5px;
      letter-spacing: 0;
      border-bottom: 1px solid $darkgreen;
    }
    .result-item {
      margin-bottom: 20px;
    }
    .result-list {
      .item {
        margin: 5px 0;
        color: $darkgreen;
      }
      .item,
      .item a {
        font-family: $font2;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.2;
      }
      a {
        display: inline-block;
        text-decoration: none;
        color: $darkgreen;
        &:hover {
          color: $orange;
        }
      }
    }
  }
}
#primary.single-competition .event-info.pastresults {
  .tab-title {
    font-family: $font1;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0;
    color: $text_color;
    margin:0 0 20px;
  }
  .year {
    margin: 0 0;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid $text_color;
  }
  .past-year {
    margin-bottom: 30px;
  }
  .past-year:last-child {
    margin-bottom: 0;
  }
  .divisions {
    .flexwrap {
      @include flexgroup();
      margin-left: -10px;
      margin-right: -10px;
      .cat-info {
        width: 100%;
        padding: 10px;
        @include tab {
          width: 33.33%;
        }
      }
    }
    .cat {
      font-family: $font2;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.2;
      margin:0 0 5px;
      text-transform: uppercase;
      color: $text_color;
    }
  }
  .item a {
    display: inline-block;
    text-decoration: none;
    color: $text_color;
    &:hover {
      color: $orange;
    }
  }
} 
.tab-panel {
  display: none;
  &.active {
    display: block;
  }
}
ul.tabs-info {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  width: 100%;
  float: left;
  position: relative;
  @include mid {
    left: -2px;
  }
  li {
    display: inline-block;
    float: left;
    font-family: $font1;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: $text_color;
    margin:0;
    width: 100%;
    @media screen and (min-width: $tabwidth) {
      width: auto;
      margin:0 2px;
    }
  }
  a, span.nolink {
    padding: 4px 15px;
  }
  a {
    display: block;
    text-decoration: none;
    color: $text_color;
    width: 100%;
    @media screen and (min-width: $tabwidth) {
      display: inline-block;
    }
  }
  span {
    display: inline-block;

  }
  span.orange {
    background: $orange;

  }
  span.red {
    background: $red_orange;
    a:hover {
      background:shade($red_orange,30%);
    }
  }
  span.gray {
    background: #6c6c6c;
    a:hover {
      background:shade(#6c6c6c,30%);
    }
  }
}
span.gray, span.red, span.orange {
  width: 100%;
}
.footer-sponsors {
  text-align: center;
  width: 100%;
  span.sponsor-logo {
    display: inline-block;
    a {
      display: inline-block;
    }
    img {
      width: 120px;
      height: auto;
    }
  }
}

footer.site-footer .sponsors {
  padding-top: 10px;
  .sponsor-text {
    color: $text_color;
    font-size: 13px;
    line-height: 1.1;
    margin: 0 0 5px;
    opacity: 0.5;
  }
}
footer.site-footer .sponsors li {
  width: 80px;
}

